html, body {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  overflow-x: hidden;
}

body {
  background-color: #ffffff;
}

p{
  font-family: 'EB Garamond', serif;
  font-size: 100%;
  margin-top: 5em;
  text-align: center;;
}

#container {
    /* border: solid 1px red; */
    margin: 0 auto;
    max-width: 1300px;
}

.wrap {
   overflow: hidden;
   margin: 10px;
}
.box {
   float: left;
   position: relative;
   width: 20%;
   padding-bottom: 20%;
}
.boxInner {
   position: absolute;
   left: 10px;
   right: 10px;
   top: 10px;
   bottom: 10px;
   overflow: hidden;
}
/*.boxInner img {
   width: 10%;
}*/
.boxInner .titleBox {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   background: #000;
   background: rgba(0, 0, 0, 0.5);
   color: #FFF;
   padding: 10px;
   text-align: center;
   transition: all 0.3s ease-out;
}

.boxInner .titleBox2 {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   background: #000;
   background: rgba(0, 0, 0, 0.5);
   color: #FFF;
   padding: 10px;
   text-align: center;
   transition: all 0.3s ease-out;
}

#haha:link {
    color: white;
}

/* visited link */
#haha:visited {
    color: white;
}

/* mouse over link */
#haha:hover {
    color: hotpink;
}

/* selected link */
#haha:active {
    color: blue;
}

  button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #b0acb0;
    border: none;
    border-radius: 15px;
    margin-top: 2em;
  }


  button:hover {background-color: #8c888a}


#header {
  background-color: white;
  border-bottom: solid 1px rgba(144, 144, 144, 0.25);
  box-shadow: 0px 0.0375em 0.125em 0px rgba(0, 0, 0, 0.05);
  color: #484848;
  cursor: default;
  font-size: 1.25em;
  height: 3em;
  left: 0;
  line-height: 4.4em;
  position: fixed;
  text-transform: uppercase;
  top: 0;
  width: 100%;
  z-index: 10000;
  z-index: 10001;
}

#header nav {
  height: inherit;
  line-height: inherit;
  position: absolute;
  right: 1.25em;
  top: 0;
  vertical-align: middle;
}

#header nav ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

#header nav ul li {
  border-radius: 4px;
  display: inline-block;
  margin-left: 2em;
  padding-left: 0;
}

#header nav ul li a {
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  color: #666;
  display: inline-block;
  text-decoration: none;
}

#header nav ul li a:hover {
  color: #484848;
}

#banner {
  padding: 15em 0 12em 0;
  background-attachment: fixed;
  background-image: url("../images/overlay.png"), url("../images/indexP1.jpg");
  /*the overlay.png and indexP1.jpg are all created by myself(Lini Tan)*/
  background-position: center top;
  background-size: cover;
  line-height: 1.75;
  text-align: center;
}

#banner:last-child {
    margin-bottom: 0;
}

#banner h2 {
  color: #ffffff;
  display: inline-block;
  font-size: 3.5em;
  line-height: 1.35;
  margin-bottom: 0.5em;
}

#banner p {
 color: #aaa;
 font-size: 1.5em;
 margin-bottom: 1.75em;
 text-transform: uppercase;
}

#album{
  width: 225px;
  height: 225px;
  margin-left: 1em;
  display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration:none;
    font-family: 'EB Garamond', serif;
    outline: none;
    color: white;
    font-style: italic;
    border: none;
    border-radius: 3px;
    box-shadow: 9px 0px #999;
    background-image: url("../images/coverpage.jpg");
}


#album:active {
  box-shadow: 5px 0px #666;
  transform: translateX(4px);
}

#caption{
  margin-left: 1.5em;
  font-family: 'EB Garamond', serif;
}

#AlbumDisplay{
  display: inline-block;
}

#addAlbum{
  width: 225px;
  height: 225px;
  margin-left: 1em;
  display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration:none;
    font-family: 'EB Garamond', serif;
    outline: none;
    color: black;
    border: none;
    border-radius: 3px;
    background-image: url("../images/add.png");
}

#error{
  font-size: 150%;
  color: red;
}

#uploadPhoto{
  border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.photoInput{
  width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#photoSubmit{
    width: 100%;
    background-color: #b0acb0;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#photoSubmit:hover {
    background-color: #8c888a;
}

#uploadAlbum{
  border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

#albumInput{
  width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#albumSubmit{
    width: 100%;
    background-color: #b0acb0;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#albumSubmit:hover {
    background-color: #8c888a;
}

#search{
  margin-left: 1em;
}

#searchSumbit{
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
}

#searchSumbit:hover {
    background-color: #8c888a;
}

#searchBox{
    width: 30%;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

h3{
  margin-top: 2.3em;
  font-size: 1.5em;
  color: #484848;
  margin-left: 1em;
}

#login{
  border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.loginInput{
  width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#loginSubmit{
    width: 100%;
    background-color: #b0acb0;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#loginSubmit:hover {
    background-color: #8c888a;
}

#edit{
  margin-left: 1.5em;
}
